{% extends 'base.html.twig' %}

{% block title %}Vérifier votre commande{% endblock %}

{% block body %}
<div class="container-lg">
<h1>Vérification de la commande</h1>
				<div class="m-3">
<div class="justify-end text-end">
<h2>Commande destiné à <span class="text-secondary">
			{{user.nom|upper}}
			{{user.prenom|capitalize}}
		</span></h2>
	</div>
					<ul class="list-group">
						{% for item in items %}
							<li class="list-group-item d-flex justify-content-between  bg-ciel">
								<span><img src='{{ asset(item.article.photo) }}' alt="" height='50px' class="m-1"><span>{{item.article.titre }}</span>
									|
									<span class="text-danger">{{item.platform}}</span>
								</span>


								<div class="justify-end text-end">

									<span class="text-secondary">{{item.article.prix|format_currency('EUR', {rounding_mode: 'floor'})}}</span>
									<span class="badge text-bg-primary">{{item.quantite}}</span>
									<span class="text-success m-3 p-2 rounded font-weight-bold border border-success">{{(item.quantite * item.article.prix)|format_currency('EUR', {rounding_mode: 'floor'})}}</span>

									
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="d-flex justify-content-end">
					<a class="btn btn-secondary m-1" href="{{path('app_articles')}}">Retour à la liste des jeux</a>
					<a class="btn btn-primary m-1" id='order-btn' href="{{path('app_stripe',{ref:ref})}}">Procéder au paiement</a>
				</div>
			</div>
{% endblock %}
