{% extends 'base.html.twig' %}

{% block title %}Créer un article{% endblock %}

{% block body %}
    <div class="container">
        {{form_start(articleForm)}}
            <ul  class="plateformes" data-index="{{ articleForm.plateforme|length > 0 ? articleForm.plateforme|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(articleForm.plateforme.vars.prototype)|e('html_attr') }}">
                {% for plateforme in articleForm.plateforme %}
                    <li>{{form_row(plateforme.nom)}}</li>
                {% endfor %}
            </ul>
            <button type="button" class="add_item_link" data-collection-holder-class="plateformes">Ajouter une plateforme</button>
        {{form_end(articleForm)}}
    </div>
{% endblock %}

