{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('notice') %}
		<div class="alert alert-warning">
			{{ message }}
		</div>
	{% endfor %}
	<h1 class="text-nuage p-2">bonjour,
		<em class="text-secondary">
			{{user.nom|upper}}
			{{user.prenom|capitalize}}
		</em>
	</h1>
	<h2 class="text-danger text-center display-5">Modifier vos coordonnées</h2>
	<div class="container ">
		<div class="m-3 mb-0 pb-5">
			{{form(form)}}
			</div>
			<p class="text-nuage">Pour modifier votre mot de passe merci de vous déconnecter et aller dans
				<em class="text-secondary">"se connecter"</em>
				ensuite cliquez
				<em class="text-secondary">"mot de passe oubliée"</em>
			</p>
		</div>

		{# espace Suivi commandes #}
		<div class="mt-5">
			<h2 class="text-danger text-center display-5">Mes commandes</h2>
			<div class="container ">
				<div class="m-3 mb-0 pb-5">

					<ul class="list-group ">
						{% for order in orders %}
							<li class="list-group-item d-flex justify-content-between bg-ciel">
								<span>Commande N°
									<strong>{{order.numero}}
									</strong>passée le
									<em>{{order.createdAt|date("m/d/Y à g:ia")}}</em>
								</span>
								{% set total = 0 %}
								<br>
								<div class="justify-end text-end ">
									{% for item in details %}

										{% for i in item %}
											{% if i.relatedOrder.id == order.id %}
												{{i.quantite}}
												x
												{{i.jeux}} | 
												{{i.plateform}}
												{{i.prix|format_currency('EUR', {rounding_mode: 'floor'})}}
												{% set total = total + (i.prix * i.quantite) %}
												<br>
											{% endif %}

										{% endfor %}


									{% endfor %}
									Montant total payé :
									<strong>{{total|format_currency('EUR', {rounding_mode: 'floor'})}}</strong>


								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	{% endblock %}
